<div class="row">
  <div class="col-md-4 col-md-offset-4">

      <% @posts.order("created_at DESC").each do |post| %>
      <ul class="list-group">
      <li class="list-group-item">
        <%= link_to post.user.name, user_path(post.user_id) %>
      </li>
      <li class="list-group-item">
        <%= link_to post.title, post_path(post) %>
      </li>
      </ul>
      <% end %>

  </div>
</div>
